player-connection-mode=Listen
player-connection-guid=282380515
player-connection-debug=0
player-connection-project-name=final-season
player-connection-ip=192.168.1.175
player-connection-ip=192.168.1.14
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=316dd634f80c4076a1ebc5814fde523f
